* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1.5px;
    background: #a1c3ff;
}